<div *ngIf="user">
<div class="container">
    <h1>Edit User Form</h1>
<div [hidden]="submitted">
    <form (ngSubmit)="newUser()" #userForm="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username"
              required
              [(ngModel)]="user.username" name="username"
              #username="ngModel">
        <div [hidden]="username.valid || username.pristine"
              class="alert alert-danger">
              Username is required
        </div>
        <div *ngIf="errors.username" class="error">{{errors.username.message}}</div>
      </div>

      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="first_name"
                required
                [(ngModel)]="user.first_name" name="first_name"
                #firstName="ngModel">
        <div [hidden]="firstName.valid || firstName.pristine"
              class="alert alert-danger">
              First Name is required
        </div>
        <div *ngIf="errors.first_name" class="error" >{{errors.first_name.message}}</div>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="last_name"
                required
                [(ngModel)]="user.last_name" name="last_name"
                #lastName="ngModel">
        <div [hidden]="lastName.valid || lastName.pristine"
              class="alert alert-danger">
              Last name is required
        </div>
        <div *ngIf="errors.last_name" class="error">{{errors.last_name.message}}</div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email"
                required
                [(ngModel)]="user.email" name="email"
                #email="ngModel">
        <div [hidden]="email.valid || email.pristine"
              class="alert alert-danger">
              Email is required
        </div>
        <div *ngIf="errors.email" class="error">{{errors.email.message}}</div>
      </div>

      <div class="form-group">
        <label for="admin">Admin</label>
        <select class="form-control" id="admin" required>
          <option *ngFor="let i of admin" [value]="i">{{i}}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-success"
      [disabled]="!userForm.form.valid">Edit</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>Your user was edited!</h2>
    <div *ngIf="errorMessage" class="alert error">{{errorMessage}}</div>
    <button class="btn btn-primary" (click)="submitted=false">Go Back</button>
  </div>
</div>
</div>
